﻿@page
@model Jukebox.Razor.Pages.EditModel
@{
}

<h2>Edit Track</h2>

<form method="post">
    <div class="mb-3">
        <label>Track Name</label>
        <input class="form-control" asp-for="TrackName" readonly />
        <span asp-validation-for="TrackName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>Artist Name</label>
        <input class="form-control" asp-for="ArtistName" readonly />
        <span asp-validation-for="ArtistName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>