﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.CurrentTrack is null) {
  <h3>Nothing Playing</h3>
}
else {
  <div class="row">
    <div class="col">
      @if (Model.IsPlaying) {
        <form method="post" asp-page-handler="Pause">
          <button type="submit" class="btn btn-outline-primary float-end" id="pause">
            <i class="bi bi-pause-fill" style="font-size: 3rem;"></i>
          </button>
        </form>
      }
      else {
        <form method="post" asp-page-handler="Play">
          <button type="submit" class="btn btn-outline-primary float-end" id=play>
            <i class="bi bi-play-fill" style="font-size: 3rem;"></i>
          </button>
        </form>
      }
    </div>
    <div class="col">
      @if (Model.CurrentQueue.Count > 0) {
        <form method="post" asp-page-handler="Skip">
          <button type="submit" class="btn btn-outline-primary" id="skip">
            <i class="bi bi-skip-end-fill" style="font-size: 3rem;"></i>
          </button>
        </form>
      } 
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <h3>Currently Playing</h3>
      <div class="ms-2 me-auto" id="currentlyPlaying">
        <div class="fw-bold">@Model.CurrentTrack.Name</div>
        @Model.CurrentTrack.ArtistName
      </div>
    </div>
  </div>
}

@if (@Model.CurrentQueue.Count > 0) {
  <br />
  <div class="row">
    <div class="col">
      <h3>Up Next</h3>
      <ul class="list-group list-group-flush">
        @foreach (var track in Model.CurrentQueue) {
          <li class="list-group-item">
            <div class="ms-2 me-auto">
              <div class="fw-bold">@track.Name</div>
              @track.ArtistName
            </div>
          </li>
        }
      </ul>
    </div>
  </div>
}
