﻿@page
@model Jukebox.Razor.Pages.NewModel
@{
}

<h2>Upload Track</h2>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Track Name</label>
        <input class="form-control" asp-for="TrackName" />
        <span asp-validation-for="TrackName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>Artist Name</label>
        <input class="form-control" asp-for="ArtistName" />
        <span asp-validation-for="ArtistName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>File</label>
        <input type="file" class="form-control" asp-for="Upload" />
        <span asp-validation-for="Upload" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>