﻿@page
@model Jukebox.Razor.Pages.TracksModel
@{
}

<h2>Track List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Track Name</th>
            <th>Artist Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tracks) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    <a asp-page="/Edit" asp-route-trackid="@item.TrackId" class="btn btn-link">Edit</a>
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" name="id" value="@item.TrackId" />
                        <button class="btn btn-primary" type="submit"><i class="bi bi-music-note"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
